.border {
	border: thin solid gray !important;
}
.strong {
	font-weight: 500 !important;
}
#checkPassswordForm {
	max-width: 500px;
}

.dark-yellow {
	color: #9b870c !important;	
}

.red {
	color: #ff0000 !important;
}

.no-decor {
  text-decoration: none !important;
}